*{
    margin:0;
    padding:0;
}

.nav{
    display: flex;
    width: screen;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    /* border:2px solid black; */
    background-color: blueviolet;
    color:yellow;
}

.nav2{
    display: flex;
    /* border:2px solid black; */
    width: 30%;
    color: yellow;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
}

.linkTag{ 
    text-decoration: none;
    font-size: larger;
    color: yellow;
}